* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8e0ec;
}

.title {
  margin-top: 40px;
}

.slider-container {
  margin-top: 300px;
  width: 300px;
  position: relative;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #800080;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #800080;
  border-radius: 50%;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #800080;
  border-radius: 50%;
  cursor: pointer;
}

.slider-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transform: translate(-50%, 0);
  transform-origin: center;
  position: absolute;
  top: -40px;
  left: 150px;
}
